<h1>You played <u>rock</u>, Champ!</h1>

<h1>The computer played <u><%= @computer_move %></u> </h1>
<h1>You <%= @outcome %>!!!</h1>


<!-- these brackets <%= %> tell the server you're embedding ruby into your html file. execute ruby, get answer, put it into html file, and send to user. user can't see what's going on behind the scenes when he/she inspects HTML code. The SHORTCUT is  -->
